.elements__trash {
  height: 19px;
  width: 18px;
  background-image: url(../../../images/Trash.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: opacity .3s ease;
}

.elements__trash:hover {
  opacity: .6;
}