.popup__close {
  background-image: url(../../../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: -36px;
  transition: opacity .3s ease;
  cursor: pointer;
}

.popup__close:hover {
  opacity: .6;
}

@media (min-width: 576px) {
  .popup__close {
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
  }
}