.profile__info-edit {
  padding-top: 22.25px;
}

@media (min-width: 960px) {
  .profile__info-edit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 30px;
  }
}